@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url(../font/Noto_Sans_KR/NotoSansKR-Black.otf);
  font-weight: 900;
}

/* common group */
html {
  font-size: 62.5%;
  font-family: "Noto Sans KR", "Roboto", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: #333;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
